{{#each this}}
<h2 class="titleCountryName">{{name}}</h2>
<div class="div">
    <div>
        <p>
            <strong></strong>Capital:</strong>{{capital}}
        </p>
        <p>
            <strong>Population:</strong>{{population}}
        </p>
        <p>
            <strong>Languages:</strong>
        </p>
        <ul>
            {{#each languages}}
            <li>
                {{name}}
            </li>
            {{/each}}
        </ul>
    </div>
    <img src="{{flag}}" alt="Флаг {{name}}" width="480" class="flag">
</div>
{{/each}}